        .DS_Store
        a.c
        a.txt
        builtin/.DS_Store
        cmd/.DS_Store
        error/.DS_Store
        free/.DS_Store
        lexer/.DS_Store
        minishell
        redirect/.DS_Store
        tokenize/.DS_Store
        utils/.DS_Store
*.o
.DS_Store*
.vscode*
minishell
